
<html>
<head>
<meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.2.0">
<title>The Top Computer Science Universities</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css">
<style type="text/css">
 li.c1 {list-style: none; display: inline}
</style>
</head>
<body>
<div class="container">
<div class="row text-center">
<h1><%= @myschoolresults.school %></h1>
</div>
<div class="row text-center">
<h5><%= @myschoolresults.schoolmessage %></h5>
</div>
<div class="container row text-left">
<li><%= @myschoolresults.gpamessage %></li>
<li><%= @myschoolresults.actmessage %></li>
<li><%= @myschoolresults.satmessage %></li>
</div>
</div>
</body>
</html>

